@import "tailwindcss";

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Light.woff2") format("opentype");
}

body {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #1d1d1d;
  --dark-medium-grey: #303030;
  --medium-grey: #2d2d2d;
  --light-grey: #a4a4a4;
  --white: #ffffff;

  --z-base: 1;
  --z-content: 5;
  --z-circle-1: 4;
  --z-circle-2: 3;
  --z-circle-3: 2;

  --padding-card: 35px;
  --gap: 55px;
  --mini-gap: 20px;
  --circle-size: 523px;
  --circle-mini-size: 240px;

  --border-radius-card: 20px;
  --border-radius-section: 50px;
  --border-radius-circle: 50%;

  --card-max-width: 390px;
  --card-height: 407px;
}
