@font-face {
  font-family: 'Gilroy';
  src: url(fonts/Gilroy-Light.woff2) format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #1d1d1d;
  --dark-medium-grey: #303030;
  --medium-grey: #2d2d2d;
  --light-grey: #a4a4a4;
  --white: #ffffff;

  --z-base: 1;
  --z-content: 5;
  --z-circle-1: 4;
  --z-circle-2: 3;
  --z-circle-3: 2;

  --padding-card: 35px;
  --gap: 55px;

  --circle-size: 523px;

  --border-radius-card: 20px;
  --border-radius-section: 50px;
  --border-radius-circle: 50%;
}

body {
  font-family: 'Gilroy', sans-serif;
}

.wrap {
  box-sizing: border-box;
  background-color: var(--dark-grey);
  padding: 153px 224px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  border-radius: var(--border-radius-section);
  position: relative;
  z-index: var(--z-base);
  overflow: hidden;
}

.card {
  box-sizing: border-box;
  background-color: var(--medium-grey);
  padding: var(--padding-card);
  border-radius: var(--border-radius-card);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  z-index: var(--z-content);
  max-width: 390px;
}

.card__logo {
  width: 33%;
  align-self: flex-end;
}

.card__text {
  font-weight: 500;
  line-height: 28px;
}

.card__text_title {
  color: var(--white);
  font-size: 28px;
  margin-bottom: 20px;
}

.card__text_subtitle {
  color: var(--light-grey);
  font-size: 18px;
}

.circle {
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: var(--border-radius-circle);
  position: absolute;
  background: linear-gradient(141.33deg, var(--dark-grey) 50.14%, var(--dark-medium-grey) 108.81%);
}

.circle_1 {
  left: 40%;
  top: -5%;
  z-index: var(--z-circle-1);
}

.circle_2 {
  z-index: var(--z-circle-2);
  left: 45%;
  top: 0px;
}

.circle_3 {
  z-index: var(--z-circle-3);
  bottom: -5%;
  left: 43%;
}
